body {
    margin: 0
}


.list-text>li {
    margin-bottom: 3px;
}

.date {
    width: 75px;
}

.right-container {
    width: 100%;
}

@page {
    size: A4;
    /* margin: 0; */
    orientation: portrait;
    page-break-after: always;
    print-color-adjust: exact;
}